.profilepic {
  top: 1em;
  left: 30%;
  position: relative;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.navlinks {
  list-style: none;
}
.navbar {
  align-items: center;
  justify-content: center;
  grid-area: sidebar;
  background-color: #901925;
}

.navbar a {
  text-decoration: none;
  font: bold 3em/2em "Roboto", sans-serif;
  color: #d79284;
  display: block;
}

.navbar a:hover {
  text-decoration: none;
  color: rgb(211, 211, 211);
  display: block;
}
